<button
  type="button"
  class="dropdown_button"
  aria-expanded="false"
  aria-controls="<%= menu_name %>">
  <%= title %>
</button>
<ul class="dropdown_menu" id="<%= menu_name %>">
  <% menu_options.each do |option| %>
    <% if option.has_key?(:method) %>
      <li>
        <%= button_to(
          option[:title],
          option[:path],
          method: option[:method],
          class: option[:class]
        ) %>
      </li>
    <% else %>
      <li>
        <%= link_to option[:title], option[:path], class: option[:class] %>
      </li>
    <% end %>
  <% end %>
</ul>
