<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<div class="page-title">
  <h1>Events</h1>

  <nav aria-labelledby="quick-actions">
    <ul class="inline">
      <li>
        <%= link_to "New event", new_event_path, class: "btn-secondary" %>
      </li>
    </ul>
  </nav>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Capacity Info</th>
      <th>Revenue</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Registration Starts at</th>
      <th>Registration Ends at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event %></td>
        <td>
          <% if event.capacity %>
            <%= rand(1..(event.capacity || 100)) %> / <%= event.capacity %>
          <% else %>
            <%= rand(1..(event.capacity || 100)) %>
          <% end %>
        </td>
        <td class="mono">
          <%= number_to_currency(rand(1...10000), precision: 0) %>
        </td>
        <td class="mono"><%= pretty_date(event.start_at, event.timezone) %></td>
        <td class="mono"><%= pretty_date(event.end_at, event.timezone) %></td>
        <td class="mono"><%= pretty_date(event.registration_start_at, event.timezone) %></td>
        <td class="mono"><%= pretty_date(event.registration_end_at, event.timezone) %></td>
        <td><%= link_to "Show", event %></td>
      </tr>
    <% end %>
  </tbody>
</table>
