<div id="<%= dom_id event_session %>">
  <p>
    <strong>Name:</strong>
    <%= event_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event_session.description %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= event_session.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= event_session.end_at %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= event_session.capacity %>
  </p>

</div>
