<div id="<%= dom_id event_speaker %>">
  <p>
    <strong>First name:</strong>
    <%= event_speaker.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= event_speaker.last_name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= event_speaker.job_title %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= event_speaker.company %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= event_speaker.profile_picture %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= event_speaker.bio %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= event_speaker.date_of_birth %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= event_speaker.language %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= event_speaker.ip_address %>
  </p>

</div>
