<p style="color: green"><%= notice %></p>

<%= render @event_speaker %>

<h2>Sessions</h2>
<% @event_speaker.event_sessions.each do |session| %>
  <p>
    <%= session.name %>
  </p>
<% end %>

<div>
  <%= link_to "Edit this event speaker", edit_event_speaker_path(@event_speaker) %> |
  <%= link_to "Back to event speakers", event_speakers_path %>

  <%= button_to "Destroy this event speaker", @event_speaker, method: :delete %>
</div>
